<div id="<%= dom_id link %>">
  <p>
    <strong>Platform:</strong>
    <%= link.platform %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Last changed on:</strong>
    <%= link.last_changed_on %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= link.restaurant_id %>
  </p>

</div>
